<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/reset.css">
  <link rel="stylesheet" href="./assets/style/glasses.css">
  <link rel="stylesheet" href="./assets/style/glasses_pad.css">
  <link rel="stylesheet" href="./assets/style/glasses_mobile.css">
  <link rel="stylesheet" href="./assets/style/article.css">
</head>

<body>
  <!-- 頁首區塊 -->
  <header>
    <img src="./assets/images/ic_menu_24px.svg" class="menu_line" alt="">
    <div>
      <a href="index.html">
        <img src="./assets/images/logo-new.png" alt="" />
      </a>
    </div>
    <nav>
      <ul>
        <li>系列鏡框</li>
        <li>門市據點</li>
        <li>
          <a href="article.html">部落格</a>
        </li>
        <li>常見問題</li>
      </ul>
    </nav>
  </header>

  <%- contents %>

  <!-- 頁尾區塊 -->
  <footer class="container-footer">
    <div>
      <div class="footer-div">
        <ul class="footer-ul footer-nav">
          <li>首頁</li>
          <li>系列鏡框</li>
          <li>門市據點</li>
          <li>
            <a href="article.html">部落格</a>
          </li>
          <li>常見問題</li>
        </ul>
        <ul class="footer-ul footer-icon">
          <li>
            <img src="./assets/images/ic_social_fb.svg" alt="">
          </li>
          <li>
            <img src="./assets/images/ic_social_ig.svg" alt="">
          </li>
          <li>
            <img src="./assets/images/ic_social_line.svg" alt="">
          </li>
        </ul>
      </div>
      <div class="footer-info">
        <p>
          <img src="./assets/images/ic_phone_48px.svg" alt="">
          <span>0800-000-000</span>
        </p>
        <p>
          <img src="./assets/images/ic_mail_outline_24px.svg" alt="">
          <span>glasses@business.com</span>
        </p>
      </div>
      <div class="footer-bottom">
        <ul class="footer-bottom-ul">
          <li>
            <img src="./assets/images/logo-new.png" alt="">
            <span>Copyright © 2020 Glasses.All rights reserved.</span>
          </li>
          <li>
            <ul class="footer-last-ul">
              <li>隱私權政策</li>
              <li>服務條款</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

  </footer>
  <!-- <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script> -->
</body>

</html>
