/*頁籤區塊*/
.news_bar {
  background-color: #650300;

  div {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    ul {
      display: flex;
      justify-content: space-between;

      li {
        font-size: 20px;
        color: #FFF;
        line-height: 28px;
        margin-right: 48px;
        padding: 12px 0;
      }
    }

    .search-icon {
      margin-top: 15px;
    }
  }
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;
}
/*麵包屑*/

.bread-crumbs {
  font-size: 16px;
  line-height: 22px;
  margin: 8px 0 16px;

  span {
    color: #AA0601;
  }
}

/*文章tag*/
.article-tags {
  font-size: 24px;
  color: #AA0601;
  line-height: 32px;
  font-weight: bold;
  margin-top: 16px;
}


/*情人特別企劃*/
.container {
  display: flex;
  justify-content: space-between;

  .container-plan {
    max-width: 894px;
    margin-right: 24px;

    .plan-h1 {
      font-size: 48px;
      font-weight: bold;
      line-height: 67px;
      margin-bottom: 4px;
    }
  }

  ul {
    &.container-valentine { 
      display: flex;
      justify-content: space-between;
      line-height: 37px;
      margin-bottom: 24px;

      li {
        &:nth-child(1) {
          font-size: 28px;
          font-weight: bold;
        }

        &:nth-child(2) {
          font-size: 16px;
        }
      }
    }
  }

  .container-content {
    img {
      width: 100%;
    }

    .content-p {
      font-size: 20px;
      color: #0A0A0A;
      margin: 24px 0 40px;
      line-height: 30px;
      font-weight: bold;
    }
  }

  
  /*share logo*/
  .container-share {
    border-bottom: 1px solid #707070;
    padding-bottom: 16px;
    margin-bottom: 24px;

    span {
      margin-right: 16px;

      &.share-title {
        font-size: 20px;
        color: #0A0A0A;
        font-weight: bold;
      }
    }
  }

  /*上下頁*/

  .container-page {
    display: flex;
    justify-content: space-between;
    margin-bottom: 156px;
    font-size: 19px;

    img {
      vertical-align: text-top;
    }
  }
}

/*tags*/

.article-right {
  max-width: 282px;

  .right-title {
    font-size: 28px;
    color: #AA0601;
    font-weight: bold;
    margin-bottom: 9px;
    display: flex;
    align-items: center;

    img {
      margin-right: 8px;
    }
  }

  span {
    font-size: 24px;
    font-weight: bold;
    color: #AA0601;
    margin: 0 24px 8px 0;
    line-height: 32px;
  }
}





